body{
    background:red;
}
.container{
    width: 1200px;
    background: green;
    margin: 0 auto;
    padding-bottom: 2%;
    padding-top: 2%;
}
.div_m{
    border: 3px dashed rgba(256, 256, 256, 0.9);
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: 80%;
    margin: 2% auto;
    padding-bottom: 10%;
}
.fig_m1, .fig_m2, .fig_m3{
    width: 30%;
    float: left;
}
/* .article_m1, .article_m2, article_m3{
    width: 20%;
} */
.droit{
    float: right;
}
.clear{
    clear: both;
}